@import "../../index.css";

:root {
  --innerGutter: var(--spacing-small);
  --first-row-height: 4em; /* 2em + block margins */
}

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--first-row-height) 1fr;
  gap: var(--innerGutter);
  padding: 0 var(--spacing-small);

  background-color: var(--app-background);
  color: var(--default-font-color);
}

h1 {
  justify-self: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  font-size: 2em;
  margin-block: 1em;
}

.App-detail {
  height: calc(100vh - var(--first-row-height));
  position: sticky;
  top: 0;

  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}
